# ide directories
.idea/
.vscode/
logs/

# ansible retry files
*.retry
# sensible files and directories
ansible/group_vars/all.yml
ansible/files/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log