# ide directories
.idea/
.vscode/
logs/

# ansible retry files
*.retry
# sensible files and directories
ansible/group_vars/all.yml
ansible/files/
ansible/inventories/deploy_inventory.cfg

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
terraform.tfvars

# Crash log files
crash.log

*.pyc